#header{
    border-bottom: 3px solid black;
    background-color: rgb(14, 149, 211);
    grid-area: header;
    display: grid;
    grid-template-columns:1fr 3fr 1fr;
    .header__logo{
        align-self: center;
        text-align: center;
        h1{
            font-size: 1.8em;
            font-weight:500;
        }
        img{
            width: 130px;
        }
    }
    .header__nav{
        ul{
            height: 100%;
            border-left: 3px solid black;
            border-right: 3px solid black;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 20px;
            list-style: none;
            padding: 0%;
            li{
                a{
                    color: black;
                    font-size: 1.8em;
                    font-weight: 450;
                    text-decoration: none;
                    &:hover{
                        color: white;
                    }
                }
            }
        }
    }
    .header__login{
        align-self: center;
        padding:0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        input{
            margin: 0%;
            border-radius: 10px;
            font-size: 1.2em;
        }
    }
}