/* RESPONSIVE */

@media (max-width:560px) {
    body{
        grid-template-areas:
        "header"
        "article"
        "section"
        "aside"
        "footer";
        grid-template-columns: 1fr;
/*         grid-template-rows: repeat(5,auto)
 */    }
    #main{
        display: none;
    }
    #header{
        border: none;
        display: flex;
        flex-direction: column;
        .header__logo{
            padding: 5px 0;
            h1{
                font-size: 1em;
            }
            img{
                width: 100px;
            }
        }
        .header__nav{
          ul{
            border: none;
            margin: 0%;
            gap: 0;
            li{
                padding: 5px;
                border:2px solid black;
                background-color: rgb(8, 191, 191);
                width: 100%;
                text-align: center;
                a{
                    font-size: 1em;
                }
            }
          }
        }
        .header__login{
            display: none;
        }
    }

    #article{
        .article__mobile{
            display: block;
            font-size: 2em;
            margin: 10px 0;
        }
        .article__series{
            h3{
                display: none;
            }
            .article__seriesIMG{
                img{
                    width: 250px;
                }
            }
        }
    }
    #section{
        display: flex;
        flex-direction: column;
    }
    #aside{
        .aside__cronograma{
            display: none;
        }
        .aside__notificacion{
            margin:10px 20px;
        }
    }
    #footer{
        padding: 10px;
        display: grid;
        grid-template-areas: 
        "logo redes"
        "logo txt";
        .footer__logo{
            grid-area: logo;
            img{
                width: 150px;
            }
        }
        .footer__redes{
            grid-area: redes;
            padding: 10px;
        }
        .footer__txt{
            grid-area: txt;
            p{
                font-size: 0.9em;
            }
        }
    }
    .boton{
        padding: 5px;
    }
 }
