//BACK-GROUND

$back-color:(
    boton:rgb(0, 225, 255),
    hover:rgb(21, 157, 175),
    body:rgb(160, 224, 237),
    heaFoo:rgb(14, 149, 211),
    asiCrono:rgb(62, 204, 220),
    asiNoti:rgb(62, 204, 220),
    sectionDiv:rgb(67, 189, 220),
    sectionP:rgb(151, 239, 255),
    mobile:rgb(8, 191, 191)
);

$radius: 10px;

$border:3px solid black;

$mobile: 560px;