@import "variables";

.boton{
    padding: 10px;
    text-decoration: none;
    background-color: map-get($back-color , boton );
    border-radius: $radius;
    cursor: pointer;
    font-size: 1.5em;
    &:hover{
        background: map-get($back-color, hover );
    }
}

body{
    background: map-get($back-color, body ) !important;
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main aside"
    "article article aside"
    "section section section"
    "footer footer footer";

    grid-template-columns:1fr 2fr 1fr ;
    grid-template-rows: repeat(5,auto);
    gap: 10px
}

@import "header";
@import "second";//main
@import "article";
@import "aside";
@import "section";
@import "footer";
@import "responsive"


