.boton{
    padding: 10px;
    text-decoration: none;
    background-color: rgb(0, 225, 255);
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5em;
    &:hover{
        background-color: rgb(21, 157, 175);
    }
}

img{
    width: 200px;
}

body{
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main aside"
    "article article aside"
    "section section section"
    "footer footer footer";

    grid-template-columns:1fr 2fr 1fr ;
    grid-template-rows: repeat(5,auto);
}

#header{
    border-bottom: 3px solid black;
    background-color: rgb(14, 149, 211);
    grid-area: header;
    display: grid;
    grid-template-columns:1fr 3fr 1fr;
    .header__logo{
        align-self: center;
        text-align: center;
        h1{
            font-size: 1.8em;
            font-weight:500;
        }
        img{
            width: 130px;
        }
    }
    .header__nav{
        ul{
            height: 100%;
            border-left: 3px solid black;
            border-right: 3px solid black;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 20px;
            list-style: none;
            padding: 0%;
            li{
                a{
                    color: black;
                    font-size: 1.8em;
                    font-weight: 450;
                    text-decoration: none;
                    &:hover{
                        color: white;
                    }
                }
            }
        }
    }
    .header__login{
        align-self: center;
        padding:0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        input{
            margin: 0%;
            border-radius: 10px;
            font-size: 1.2em;
        }
    }
}

#main{
    background-color: blue;
    grid-area: main;
    padding: 20px;
    h3{
        font-size:3em;
    }
}
#article{
    grid-area: article;
    background-color: green;
}
 #aside{
    grid-area: aside;
    .aside__cronograma{
        display: flex;
        flex-direction: column;
        h3{
            padding: 10px;
            font-size: 2em;
            margin: 0%;
            border-left: 3px solid black;
        }
        .crono__div{
            background-color: rgb(62, 204, 220);
            border: 3px solid black;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            div{
                display: flex;
                flex-direction: row;
                gap: 10px;
            }
        }
        .aside__cronogramaBtn{
            align-self: center;
            margin: 15px 0;
        }
    }
    .aside__notificacion{
        border: 3px solid black;
        background-color: rgb(62, 204, 220);
        display: grid;
        grid-template-columns: 2fr 1fr;
       .aside2__form{
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            label{
                font-size: 1.5em;
            }
            #enviar{
                width: 100px;
            }
            }
       img{
            width: 100%;
            height: 100%;
        }
   }
}
#section{
    background-color: rgba(199, 199, 0, 0.775);
    grid-area: section;
}
#footer{
    background-color: teal;
    grid-area: footer;
}
